*               -text
.gitattributes  text eol=lf
.gitignore      text eol=lf
.java-version   text eol=lf
LICENSE         text eol=lf
*.config        text eol=lf
*.java          text eol=lf
*.json          text eol=lf
*.md            text eol=lf
*.sh            text eol=lf
*.xml           text eol=lf
*.yml           text eol=lf
